<form method="get" action="/quizes">        
  <input type="text" name="search" placeholder="Buscar pregunta" value="<%= search %>"/>
  <input type="submit" value="Enviar">
</form>
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
     <tr>
     	<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
     	<td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
     </tr> 
  <% } %>
</table>
<% if(!quizes.length) {%>
	<p>No se han encontrado preguntas </p>
<% } %>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>