<form method="get" action="/quizes/<%= quiz.id %>/answer">        
  <%= quiz.pregunta %> (<%= quiz.tema %>) <p>
  <input type="text" name="respuesta" value="Respuesta"/>
  <button type="submit">Enviar</button>
</form>